:root {
  --bg1: #e2e2e2;
  --bg2: #ececec;
  --bg3: #f8f8f8;
  --bg4: #ffffff;
}

* {
  image-rendering: pixelated;
}

body {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  background-color: var(--bg2);
}

#app {
  background-color: var(--bg2);
}

#content {
  padding: 64px;
}

canvas {
  width: 50%;
  display: inline-block;
  background-color: transparent;
  vertical-align: top;
  min-width: 400px;
  min-height: 400px;
  image-rendering: pixelated;
}


#count {
  display: inline-block;
  margin-left: 16px;
}

hr {
  border: none;
  border-top: 1px solid gray;
}
